@model ProfileListViewModel

<div class="container">
    <div class="row">
        <h4>Browser Users</h4>
    </div>
    <div class="row">
        <table class="table table-hover">
            <thead>
                <tr class="font-weight-bold">
                    <td>Image</td>
                    <td>Username</td>
                    <td>Email</td>
                    <td>Member Since</td>
                    <td>Rating</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var profile in Model.Profiles)
                {
                    <tr>
                        <td>
                            <div style="background-image:url(@profile.ProfileImageUrl); background-size:100%; width:50px; height:50px; background-repeat:no-repeat;"></div>
                        </td>
                        <td>@profile.UserName</td>
                        <td>@profile.Email</td>
                        <td>@profile.MemberSince</td>
                        <td>@profile.UserRating</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>