@model HomeIndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="container ">
    <div class="row bg-light">
        <div class="col-md-6">
            <div class="">Learn, Collaborate, Share Knowledge</div>
            <p>Support Forums is the world's fastest growing coding forum</p>
            <div>
                <form asp-action="Search" asp-controller="Forum" method="post" >
                    <input asp-for="SearchQuery" type="text" name="Search" placeholder="Search..." class="form-control"/>
                </form>
            </div>
        </div>
        <div class="col-md-6"></div>
    </div>
    <div class="row">
        <h3>Latest Posts</h3>
        <table class="table table-hover">
            <tbody>
                @foreach (var post in Model.LatestPosts)
                {
                    <tr>
                        <td class="col-sm-2">
                            <div style="background-image:url(@post.Forum.ImageUrl); width:200px; height:100px; background-size:100%; background-repeat:no-repeat">
                            </div>
                        </td>
                        <td class="col-sm-10">
                            <div class="postTitle">
                                <a asp-controller="Post" asp-action="Index" asp-route-id="@post.Id">
                                    @post.Title
                                </a>
                            </div>
                            <div>
                                @if (post.RepliesCount == 1)
                                {
                                    <span>@post.RepliesCount Reply</span>
                                }
                                @if (post.RepliesCount == 0)
                                {
                                    <span>No Replies</span>
                                }
                                else
                                {
                                    <span>@post.RepliesCount Replies</span>
                                }
                                <span>
                                    <a asp-action="Detail" asp-controller="Profile" asp-route-id="@post.AuthorId">
                                        @post.AuthorName
                                    </a>
                                </span>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>