@model PostReplyViewModel

<div class="container">
    <div class="row">
        <div>
            Reply | @Model.PostTitle
        </div>
        <div style="background-image:url(@Model.ForumImageUrl); background-size:100%; width:200px; height:200px; background-repeat:no-repeat"></div>
        <span>
            <a asp-controller="Post"
               asp-action="Index"
               asp-route-id="@Model.PostId"
               class="btn btn-light"
               >Back to Post</a>
        </span>
    </div>
    <div class="row">
        <div>
            <h3>@Model.PostTitle</h3>
            <p>@Model.PostContent</p>
        </div>
    </div>
    <div class="row">
        <div>
            <div>
                You're' submitting this Reply as @Model.AuthorName
            </div>
            <form asp-action="AddReply" asp-controller="Reply" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="ReplyContent">Reply: </label>
                    <textarea asp-for="ReplyContent"
                              rows="10"  cols="10"class="form-control"
                              placeholder="Your reply..."></textarea>
                    <span asp-validation-for="ReplyContent" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Submit Reply</button>
                <input asp-for="AuthorId" type="hidden"/>
                <input asp-for="PostId" type="hidden"/>
                <input asp-for="ForumId" type="hidden"/>
            </form>
        </div>
    </div>
</div>